.pagination li {
    color: black;
    cursor: pointer;
    border: 1px solid #dee2e6;
  }
.pagination li a {
    padding: 10px;
    display: inline-block;
  }
  .pagination li:focus{
    outline: none;
    box-shadow: none;
    background-color: white;
  }
  
  .pagination li.active,
  .pagination li:hover {
    background-color: #ffb32d;
    border: 1px solid #ffb32d;
    color: white;
  }
  .pagination li.previous a, .pagination li.next a{
    color: black;
    text-decoration: none;
  }
  .pagination li.previous:hover a,.pagination li.next:hover a{
    color: white;
    text-decoration: none;
  }